// 1 navigate to the folder that contains this _myFilename_.scss file
// 2 open terminal
// 3 npx sass --watch _myFilename_.scss:_myFilename_.css

// - Class & ID Names: Use kebab-case (e.g., .main-container, #header-nav)
// - Variables (SCSS): Use $kebab-case (e.g., $primary-color)
// - Mixins & Functions: Often use camelCase or PascalCase (e.g., @mixin flexCenter)
// - BEM Methodology (Block Element Modifier): Uses block__element--modifier (e.g., .button__icon--large)

* {
    font-family: "Consolas", "Courier New", monospace;
}

input{
    color:darkblue;
    background-color: palegoldenrod;
}
.ui-page{
    // 
        // variables
            $transition-speed: 0.5s;
            $transition-speed-slower: 0.75s;
        // variables
    // 
    position: fixed;
    left:-5000px;
    width:100vw;
    height:100vh;
    // z-index: 500;
    &.ui-page-in-view{
        left:0px;
        transition: left $transition-speed ease-in-out;
    }
}